@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar
    {
        display: none;
    }

:root
{
    --background: rgb(23, 23, 53);
    --foreground: rgb(0, 255, 221);
    --brackets: rgb(253, 74, 74);
}

html
{
    scroll-behavior: smooth;
}

hr
{
    margin: 30px 0 10px 0;
}

body
{
    margin: 0;
    padding: 0;
    display: flex;
}

p
{
    font-size: 15px;
    word-wrap: break-word;
}

.side-bar
{
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 300px;
    height: 100vh;
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;;
    border-right: grey 5px solid;
}

.side-bar h1
{
    padding: 5px;
    height: 80px;
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.side-bar h2
{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--foreground);
    color: var(--background);
}

.side-bar a
{
    text-decoration: none;
    color: white;
    font-size: 20px; 
    justify-content: center;
    align-items: center;
}

.side-bar h3
{
    display: flex;
    height: 40px;
    margin-bottom: 5px;
    align-items: center;
    padding-left: 3px;
}

.side-bar h3 a
{
    width: 100%;
}

.side-bar h3 a:hover
{
    padding-left: 3px;
    border-left: 3px solid var(--foreground);
}

main
{
    padding: 20px;
    flex: 1;
    margin-left: 300px;
    background-color:white;
    font-family: 'Rubik', sans-serif;
}


.red-brackets
{
    color: white;
}

#background header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#background header h1 , span
{
    font-size: 28px;
}

.example
{
    padding: 2px;
    width: 100%;
    font-size: 15px;
    background-color: var(--background);
    color: var(--foreground);
    border-radius: 5px;
    border-left: 3px solid var(--foreground);
}

#border header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#border header h1 , span
{
    font-size: 28px;
}

#table header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#table header h1 , span
{
    font-size: 28px;
}

#box-model header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#box-model header h1 , span
{
    font-size: 28px;
}

#transitions header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#transitions header h1 , span
{
    font-size: 28px;
}

#color header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#color header h1 , span
{
    font-size: 28px;
}

#font header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#font header h1 , span
{
    font-size: 28px;
}

#animations header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#animations header h1 , span
{
    font-size: 28px;
}

#column header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#column header h1 , span
{
    font-size: 28px;
}

#text header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#text header h1 , span
{
    font-size: 28px;
}

#speech header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#speech header h1 , span
{
    font-size: 28px;
}

#template-layout header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#template-layout header h1 , span
{
    font-size: 28px;
}

#transform header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#transform header h1 , span
{
    font-size: 28px;
}

#grid-positioning header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#grid-positioning header h1 , span
{
    font-size: 28px;
}

#hyperlink header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#hyperlink header h1 , span
{
    font-size: 28px;
}

#list-markers header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#list-markers header h1 , span
{
    font-size: 28px;
}

#pseudo-class header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#pseudo-class header h1 , span
{
    font-size: 28px;
}

#pseudo-element header:hover .red-brackets
{
    transition: 0.3s ease-in;
    color: var(--brackets);
}

#pseudo-element header h1 , span
{
    font-size: 28px;
}

